
body {
    margin: 0;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


.netflix-header {
    background: #111;
    padding: 20px;
    text-align: left;
}

.logo {
    color: #e50914;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
}


.billboard {
    width: 100%;
    height: 280px;
    background: linear-gradient(to right, #000, #111);
    display: flex;
    align-items: center;
    padding-left: 40px;
    overflow: hidden;
}

.billboard-img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    animation: slideRight 8s linear infinite;
    border: 3px solid #e50914;
}

@keyframes slideRight {
    0% { transform: translateX(-200px); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(-200px); }
}

.billboard-text {
    margin-left: 30px;
}

.billboard-text h2 {
    font-size: 40px;
    font-weight: 900;
}

.billboard-text p {
    font-size: 18px;
    opacity: 0.7;
}


.categories {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.category-btn {
    background: #e50914;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

.category-btn:hover {
    transform: scale(1.1);
    background: #f6121d;
    box-shadow: 0 0 20px #e50914;
}


.info-section {
    width: 80%;
    margin: 20px auto;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    display: none;
    animation: slideDown 0.5s ease;
    border-left: 4px solid #e50914;
}

.info-section h3 {
    color: #e50914;
}


@keyframes slideDown {
    from { opacity: 0; transform: translateY(-25px); }
    to { opacity: 1; transform: translateY(0); }
}


.gallery-carousel {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    padding: 10px;
}

.gallery-item img,
.gallery-item video {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #e50914;
    transition: 0.3s;
}

.gallery-item:hover img,
.gallery-item:hover video {
    transform: scale(1.1);
    box-shadow: 0 0 20px #e50914;
}


.info-section.hide {
    animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}
